.footer {
  background: #000;
  color: #fff;
  padding: 60px clamp(20px, 6vw, 80px);
  font-family: Arial, sans-serif;
}

/* Top Section */

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
}

.newsletter,
.contact {
  flex: 1;
  min-width: 280px;
}

.newsletter h3,
.contact h3 {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.newsletter p,
.contact p {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 8px;
}

.newsletter-form {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 1;
  padding: 10px;
  border: none;
}

.newsletter-form button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
}

button {
  border-radius: 5px;
}

.currency {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

/* Divider */

hr {
  border: none;
  border-top: 1px solid #333;
  margin: 40px 0;
}

/* Bottom Section */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-col h4 {
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-col li:hover {
  color: #fff;
}

.socials,
.payments {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.accept-title {
  margin-top: 20px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 40px;
}

/* Mobile */

@media (max-width: 768px) {
  .footer-top,
  .footer-bottom {
    flex-direction: column;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
  }
}
