/* =========================
   GLOBAL RESET
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* =========================
   CONTAINER
========================= */

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px clamp(16px, 5vw, 60px);
}



/* =========================
   PLP LAYOUT
========================= */

.plp-layout {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  align-items: flex-start;
}

/* Tablet */
@media (max-width: 1024px) {
  .plp-layout {
    flex-direction: column;
  }
}
